{{ ansible_managed | comment }}

[Unit]
Description=Jira {{ jira__product | upper }}
After=network.target

[Service]
Type=forking
User={{ jira__username }}
PIDFile={{ jira__application_path }}/work/catalina.pid
ExecStart={{ jira__application_path }}/bin/start-jira.sh
ExecStop={{ jira__application_path }}/bin/stop-jira.sh

[Install]
WantedBy=multi-user.target