{{ ansible_managed | comment }}

[Unit]
Description=Jira {{ jira_product | upper }}
After=network.target

[Service]
Type=forking
User={{ jira_user }}
PIDFile={{ _jira_application_path }}/work/catalina.pid
ExecStart={{ _jira_application_path }}/bin/start-jira.sh
ExecStop={{ _jira_application_path }}/bin/stop-jira.sh

[Install]
WantedBy=multi-user.target
