{{ ansible_managed | comment }}

[Unit]
Description=Jira {{ jira_product | upper }}
After=network.target

[Service]
Type=forking
User={{ jira_user }}
PIDFile={{ __jira_root_path }}/work/catalina.pid
ExecStart={{ __jira_root_path }}/bin/start-jira.sh
ExecStop={{ __jira_root_path }}/bin/stop-jira.sh

[Install]
WantedBy=multi-user.target
